<body>
  <header>
    <nav class="navbar">
      <div class="logo">Livraria</div>
      <ul class="nav-links">
        <li><%= link_to "Pessoas", pessoas_path %></li>
        <li><%= link_to "Livros", livros_path %></li>
        <li><%= link_to "Empréstimos", emprestimos_path %></li>
      </ul>
    </nav>
  </header>

  <main>
    <h1>Bem-vinda à Livraria</h1>
    <p>Sua próxima leitura está a um clique de distância!</p>
  </main>

  <div class="triangulos">
  <div class="triangulo"></div>
  <div class="triangulo"></div>
  <div class="triangulo"></div>
</div>

</body>
